body {
  padding: 0;
  margin: 0;
}

.info {
  margin-top: 0 !important;
}

.wrapper {
  margin: 0 0 !important;
}

.title {
  font-family: var(--font-mono) !important;
}

.swagger-ui p {
  font-family: var(--font-sans) !important;
  font-size: var(--font-size-base) !important;
  line-height: 1.53 !important;
  color: var(--color-slate) !important;
}

.base-url {
  display: none;
}

.swagger-ui .info a {
  font-size: inherit !important;
  color: var(--color-purple) !important;
  text-decoration: underline;
  text-decoration-thickness: max(1.5px, 0.07em) !important;
  text-underline-offset: 0.15em;
  transition: color var(--transition-duration) !important;
}

.swagger-ui .info a:hover {
  color: var(--color-slate-dark) !important;
}

.swagger-ui .markdown code {
  color: #545464 !important;
}
