/* Fonts */

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100 800;
  font-display: swap;
  src: url("../fonts/JetBrainsMono-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
  src: url("../fonts/JetBrainsMonoItalic-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Barlow-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src: url("../fonts/Barlow-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Barlow-BoldItalic.woff2") format("woff2");
}

/* Global variables */

:root {
  /* Colors */
  --color-slate-dark: #0b1221;
  --color-slate-dark-3: rgba(11, 18, 33, 0.03);
  --color-slate-dark-10: rgba(11, 18, 33, 0.1);
  --color-slate-dark-25: rgba(11, 18, 33, 0.25);
  --color-slate-dark-50: rgba(11, 18, 33, 0.5);
  --color-slate-dark-75: rgba(11, 18, 33, 0.75);
  --color-slate: #545465;
  --color-slate-light: #ced0d3;
  --color-slate-xlight: #e6e7e8;
  --color-gray-dark: #343232;
  --color-gray: #6e6e6e;
  --color-gray-light: #a2a2a2;
  --color-stone: #e6e2dc;
  --color-purple: #523aa4;
  --color-green: #b3ff00;
  --color-green-75: rgba(179, 255, 0, 0.75);
  --color-latte: #fdf6e3;

  /* Font sizes */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.145,1200,17,1.172,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size-xs: clamp(0.79rem, calc(0.78rem + 0.06vw), 0.82rem);
  --font-size-s: clamp(0.87rem, calc(0.86rem + 0.06vw), 0.91rem);
  --font-size-base: clamp(1rem, calc(0.98rem + 0.11vw), 1.06rem);
  --font-size-m: clamp(1.15rem, calc(1.11rem + 0.18vw), 1.25rem);
  --font-size-l: clamp(1.31rem, calc(1.26rem + 0.27vw), 1.46rem);
  --font-size-xl: clamp(1.5rem, calc(1.43rem + 0.38vw), 1.71rem);
  --font-size-2xl: clamp(1.72rem, calc(1.61rem + 0.52vw), 2rem);
  --font-size-3xl: clamp(1.97rem, calc(1.83rem + 0.69vw), 2.35rem);
  --font-size-4xl: clamp(2.25rem, calc(2.07rem + 0.91vw), 2.75rem);

  /* Spacing */
  /* @link https://utopia.fyi/space/calculator/ */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  --space-m-xl: clamp(1.69rem, calc(0.97rem + 3.59vw), 3.75rem);
  --space-l-2xl: clamp(2.25rem, calc(1.29rem + 4.78vw), 5rem);
  --space-xl-3xl: clamp(3.38rem, calc(1.94rem + 7.17vw), 7.5rem);

  /* Animation */
  --transition-duration: 175ms;
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* Fonts */
  --font-mono: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-sans: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";

  /* Layout */
  --scrollbar-width: 0px;
  --container-width: 80rem; /* 1280px */
  --container-padding: var(--space-s-m); /* 1280px */

  height: 100%;
  font-size: 100%;
}
