# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# shfmt config
# not all bash scripts in the repo are .sh
# so this is in * extension block
shell_variant      = bash  # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
function_next_line = false # like -fn
keep_padding       = false # like -kp
never_split        = false # like -ns

[*.{nim,c4m,c42spec,hcl,md,yml,yaml}]
indent_style = space
indent_size = 2

[*.sh,dust]
indent_style = space
indent_size = 4

[Makefile]
end_of_line = lf
insert_final_newline = true
indent_style = tab
