.TODO
/bin
/chalk
/src/getlibpath
/deps
/nimcache
/pkg
# universal tags
tags
.DS_Store
.vscode
chalk.bck
chalk.conf
chalk.dSYM
chalk-tmp
chalk-*.tmp
src/c4autoconf.nim
*.o
*.json
*.jsonl
!.github/**.json
*.pyc
*.lck
*.vim
*/__pycache__/*
.envrc.private
.envrc
dist
build
*.spec
server/app/server
server/app/server-static
*.tar.gz
*.db
*.sqlite
*.key
*.pem
*.pub
keys/*
nimble.develop
nimble.paths
/chalk-docs
oss
__pycache__
.mypy_cache
.pytest_cache
nimutils
con4m
/*.c4m
/ls
