.TODO
.config-tool-bin/
config-tool-outdir
/bin/chalk
/chalk
/src/getlibpath
/deps
# universal tags
tags
.DS_Store
.vscode
chalk.conf
chalk.dSYM
chalk-tmp
chalk-*.tmp
src/c4autoconf.nim
*.o
*.json
*.jsonl
*.pyc
*.lck
*.vim
*/__pycache__/*
.envrc.private
dist
build
*.spec
server/app/server
server/app/server-static
*.tar.gz
*.db
*.sqlite
*.key
*.pem
*.pub
