[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textualize = "*"
textual = "*"
pyjwt = "*"
requests = "*"
auth0-python = "*"
pyqrcode = "*"

[dev-packages]

[requires]
python_version = "3.11"
