name: unit-tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'server/**'
      - 'tests/functional/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'server/**'
      - 'tests/functional/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  unit-tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-22.04
            arch: x86_64

    name: "${{ matrix.os }}-${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # 4.1.6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # 2.10.0
        with:
          install: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446 # 3.2.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Bake images
        run: |
          docker buildx bake chalk --load

      - name: Run unit tests
        run: |
          make unit-tests
